@font-face {
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/iosevka-ss10-ligth.woff2') format('woff2'), url('/fonts/iosevka-ss10-ligth.woff') format('woff'), url('/fonts/iosevka-ss10-ligth.ttf') format('truetype');
  }

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/iosevka-ss10-regular.woff2') format('woff2'), url('/fonts/iosevka-ss10-regular.woff') format('woff'), url('/fonts/iosevka-ss10-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/iosevka-ss10-bold.woff2') format('woff2'), url('/fonts/iosevka-ss10-bold.woff') format('woff'), url('/fonts/iosevka-ss10-bold.ttf') format('truetype');
}